@model Education
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Edit Education</h4>
        </div>
    </div>
    <div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }

    </div>
    <div class="card-body">
        <form class="form-horizontal" asp-action="Edit" method="post">
            <input type="hidden" asp-for="EducationId" />
            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0">Skill Category Name : </label>
                <div class="col-sm-9">
                    <input asp-for="EducationName" class="form-control" />
                    <span asp-validation-for="EducationName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12">
                <label class="form-label">Education Type</label>
                <select class="form-select" name="EducationType" asp-items="@Html.GetEnumSelectList<EducationType>()">
                    <option value="0"> Select States</option>
                </select>
                <span asp-validation-for="EducationType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</div>