<form asp-action="ProjectSearch" method="get">
    <div class="container-fluid bg-primary mb-5 mt-4 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="container">
            <h3 style="color:white">Search Job Here</h3>
            <div class="row g-2">
                <div class="col-md-10">
                    <div class="row g-2">
                        <div class="col-md-4">
                            <select class="form-select" name="skill" asp-items="@ViewBag.ProjectSkillId">
                                <option value="0"> Select Skill </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select" name="tech" asp-items="@ViewBag.ProjectTechnologyId">
                                <option value="0"> Select Technoloy </option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select" name="term" asp-items="@Html.GetEnumSelectList<ProjectPaymentTerms>()">
                                <option value="0"> Select Payment Terms </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-dark border-0 w-100" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>
</form>