@model IEnumerable<ProjectSkill>

<div class="card-body">
    <h5 class="card-title">Project Skills</h5>
    <hr />
    @foreach (var temp in Model)
    {
        <div class="row">
            <div class="col-3"><label class="control-label">@temp.Skill.SkillName</label></div>
        </div>
    }
    
</div>