@model ProjectApplications

<div class="card">

    <div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }

    </div>

    <div class="card-body">
        <form class="form-horizontal" asp-action="SubmitApplication" method="post">
            <input type="hidden" id="FreelancerId" name="FreelancerId" value="@ViewBag.FreelancerId" />
            <input type="hidden" id="ProjectId" name="ProjectId" value="@ViewBag.ProjectId" />
            <input type="hidden" id="ProjectName" name="ProjectName" value="@ViewBag.ProjectName" />
            <input type="submit" asp-action="SubmitApplication" asp-controller="Home" value="Submit Application" />
        </form>
    </div>
</div>