@model FreelancerProfileVM
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Edit Company Profile</h4>
        </div>
    </div>
    <div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }

    </div>
    <div class="card-body">
        <form class="form-horizontal" asp-action="EditProfile" method="post">
            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="email1">First Name : </label>
                <div class="col-sm-9">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="email1">Last Name : </label>
                <div class="col-sm-9">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="email1">Email Id : </label>
                <div class="col-sm-9">
                    <input asp-for="EmailId" class="form-control" />
                    <span asp-validation-for="EmailId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="email1">Mobile No : </label>
                <div class="col-sm-9">
                    <input asp-for="MobileNo" class="form-control" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-sm-3 align-self-center mb-0" for="email1">Address : </label>
                <div class="col-sm-9">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Update</button>
            </div>
        </form>
    </div>
</div>