@model ProjectDocument
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Create Document</h5>
        <hr />
        <form enctype="multipart/form-data" asp-action="Create" method="post" asp-route-id="@ViewBag.ProjectId">
            <div class="row">
                <input type="hidden" asp-for="ProjectId" value="@ViewBag.ProjectId"/>
                <div class="col-md-5">
                    <input asp-for="DocName" class="form-control" placeholder="Document Name"/>
                    <span asp-validation-for="DocName" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <input asp-for="ActualFile" class="form-control" type="file">
                    <span asp-validation-for="ActualFile" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <input class="form-control btn btn-primary" type="submit">
                </div>
            </div>
        </form>
        <hr />
      @await Component.InvokeAsync("UploadDocumentVC")
    </div>
</div>