@model IEnumerable<ProjectApplications>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Project Applications List</h5>

        <hr />

        <!-- Bordered Table -->
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">No of Applications</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int srno = 1;
                    string projectName = null;
                }
                @foreach (var temp in Model)
                {
                    if (temp.Project.ProjectName != projectName)
                    {
                        <tr>
                            <th scope="row">@srno</th>
                            <td>@temp.Project.ProjectName</td>
                            <td>@temp.ProjectApplicationId</td>
                            <td>
                                <a class="btn btn-outline-primary" asp-action="ViewAndAssign" asp-route-id="@temp.ProjectApplicationId">View And Assign</a>
                            </td>
                        </tr>
                        projectName = temp.Project.ProjectName;
                        srno++;
                    }
                }
            </tbody>
        </table>
        <!-- End Bordered Table -->

    </div>
</div>
