@model ProjectStagesVM
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Add Project Stages </h4>
        </div>
    </div>
    <div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }

    </div>
    <div class="card-body">

        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label">Select Project : </label>
                <select class="form-select" asp-for="ProjectId" id="ProjectId" asp-items="@ViewBag.ProjectId">
                    <option value="0"> Select Project</option>
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            @for(int i = 1; i <= 5; i++)
            {

                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" for="email1">Stage Name : </label>
                            <div class="col-md-12">
                                <input asp-for="ProjectStageName" id="StageName_@i" class="form-control"/>
                                <span asp-validation-for="ProjectStageName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
          
                    <br />
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" for="email1">Duration In Hours : </label>
                            <div class="col-md-12">
                                <input asp-for="DurationInHours" id="Duration_@i" class="form-control" />
                                <span asp-validation-for="DurationInHours" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="col-4">
                        <div class="form-group">
                            <label class="control-label" for="email1">Step Description : </label>
                            <div class="col-md-12">
                                <textarea asp-for="StageDescription" id="StepDesc_@i" class="form-control"></textarea>
                                <span asp-validation-for="StageDescription" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            }
           
            <div class="form-group">
                <button type="button" id="submitBtn" class="btn btn-success">Create</button>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {

        var ProjectStages = [];
        $("#submitBtn").click(function () {
            var pid = $("#ProjectId").val();
            for (var i = 1; i <= 5; i++) {
                var sName = $("#StageName_" + i).val();
                var dHours = $("#Duration_" + i).val();
                var sDesc = $("#StepDesc_" + i).val();

                var ProjectStage = {
                    ProjectStageName: sName,
                    DurationInHours: dHours,
                    StageDescription: sDesc,
                    ProjectId : pid
                };

                ProjectStages.push(ProjectStage);

            }

            console.log(ProjectStages);

            $.ajax({
                url: "/CompanyArea/ProjectStagesHome/InsertProjectStages/",
                type: "POST",
                contentType: "application/json",
                datatype: "json",
                data:JSON.stringify(ProjectStages),
                success: function (result) {
                    alert(JSON.stringify(result));
                },
                error: function (err) {
                    alert(JSON.stringify(err));
                }
            });

        });

    });
</script>
