@model ProjectStagesVM
<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div class="header-title">
            <h4 class="card-title">Add Project Details</h4>
        </div>
    </div>
    <div>
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info">@ViewBag.Message</div>
        }

    </div>
    <div class="card-body">
        <form class="form-horizontal" asp-action="Create" method="post">
            <div class="col-12">
                <label class="form-label">Project Name</label>
                <select class="form-select" asp-for="ProjectId" asp-items="@ViewBag.Project">
                    <option> Select Project</option>
                </select>
                <span asp-validation-for="ProjectId" class="text-danger"></span>
            </div>
            <br />

            <div class="row">
                <div class="col-4">
                    <label class="form-label">Stage Name</label>
                </div>
                <div class="col-4">
                    <label class="form-label">Duration in Hours</label>
                </div>
                <div class="col-4">
                    <label class="form-label">Step Description</label>
                </div>
            </div>

            @for (int i = 0; i < 5; i++)
            {
                <div class="row">
                    <div class="col-4">
                        <div class="col-md-12">
                            <input asp-for="ProjectStages[i].ProjectStageName" class="form-control" />
                            <span asp-validation-for="ProjectStages[i].ProjectStageName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-md-12">
                            <input asp-for="ProjectStages[i].DurationInHours" class="form-control" />
                            <span asp-validation-for="ProjectStages[i].DurationInHours" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-md-12">
                            <textarea asp-for="ProjectStages[i].StageDescription" class="form-control"></textarea>
                            <span asp-validation-for="ProjectStages[i].StageDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br />
            }


            <div class="form-group">
                <button type="submit" class="btn btn-success">Create</button>
            </div>
        </form>

    </div>
</div>