<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JobEntry - Job Portal Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
        <link href="~/freelancerfrontend/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
        <link href="~/freelancerfrontend/lib/animate/animate.min.css" rel="stylesheet">
        <link href="~/freelancerfrontend/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
        <link href="~/freelancerfrontend/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
        <link href="~/freelancerfrontend/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl bg-white p-0 mt-5">
        
        <div class="container vh-100">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
                <a href="https://sandesh-bhale.revolutioninfosystems.com/" class="navbar-brand d-flex align-items-center text-center py-0 px-4">
                    <h1 class="m-0 text-danger" >EDesk OutSourcing</h1>
                </a>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto p p-lg-0">
                        @if (Context.Session.GetString("FreelancerId") == null)
                        {
                            <a asp-action="SignIn" asp-area="" asp-controller="ManageAdmin" style="color:purple;margin-right:1rem"><b>Admin Log-In</b></a>
                        }
                    </div>

                    @if (Context.Session.GetString("FreelancerId") != null)
                    {
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Hi! @Context.Session.GetString("FullName")</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a asp-action="Index" asp-area="FreelancerArea" asp-controller="FreelancerHome" class="dropdown-item">Go To DashBoard</a>
                                <a asp-action="SignOut" asp-controller="ManageFreelancer" class="dropdown-item">LogOut</a>
                            </div>
                        </div>
                    }

                    @if (Context.Session.GetString("FreelancerId") == null)
                    {
                        <a asp-action="SignIn" asp-area="" asp-controller="ManageFreelancer"
                           style="display: inline-block; padding: 10px 20px; background-color: #2A629A; color: white; text-align: center; border-radius: 5px; font-size: 16px; transition: background-color 0.3s ease;">
                            Freelancer LogIn
                        </a>
                        <a asp-action="SignIn" asp-area="" asp-controller="ManageCompany"
                           style="display: inline-block; padding: 10px 20px; background-color: #2A629A; color: white; text-align: center; border-radius: 5px; font-size: 16px; transition: background-color 0.3s ease; margin: 10px;">
                            Company LogIn
                        </a>
                    }

                </div>
            </nav>

            <div class="container" style="position: relative; height: 650px; overflow: hidden;">
               <img src="~/freelancerfrontend/5153829.jpg" style="object-fit: cover; width: 100%; height: 100%; filter: blur(5px);">
               <div class="row" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <!-- Search Start -->
                    @await Component.InvokeAsync("LayoutDropdownVC")
                    <!-- Search End -->
               </div>
            </div>

           
            <!-- Navbar End -->
        </div>

        

        <div class="container">
            <!-- Content here if needed -->
        </div>


        <!-- Jobs Start -->
        <h2 class="text-center mb-5 wow fadeInUp blink" data-wow-delay="0.1s">Jobs Listing</h2>

        @await Component.InvokeAsync("LayoutDropdownListVC", new { id = @ViewBag.rec, id2 = @ViewBag.FreelancerId })
        <!-- Jobs End -->
        <!-- Carousel Start -->
  
        <!-- Carousel End -->




        <section class="section dashboard">
            <div class="container-fluid">
                <div class="row d-flex mx-auto mt-3">

                    <div class="col-12">
                        @RenderBody()
                    </div>

                </div>
            </div>
        </section>


        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h2 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h2>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-mail-bulk text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Marketing</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-headset text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Customer Service</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-user-tie text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Human Resource</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-tasks text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Project Management</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-chart-line text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Business Development</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-hands-helping text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Sales & Communication</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-book-reader text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Teaching & Education</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <a class="cat-item rounded p-4" href="">
                            <i class="fa fa-3x fa-drafting-compass text-secondary mb-4"></i>
                            <h6 class="mb-3" style="color:mediumpurple">Design & Creative</h6>
                            <p class="mb-0 text-warning">123 Vacancy</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category End -->


@*         <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="~/freelancerfrontend/img/about-1.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="~/freelancerfrontend/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="~/freelancerfrontend/img/about-3.jpg" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="~/freelancerfrontend/img/about-4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Tempor erat elitr rebum at clita</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et eos</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Clita duo justo magna dolore erat amet</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End --> *@
        

        <!-- Footer Start -->
        <div class="container-fluid bg-light">
            <div class="container py-4 mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="About">
                            <h5>About Company</h5>
                            <p>Revolution Infosystsms established in 2006 by the enttrepreneurs, who believe that technology plays key role in the business development and growth.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="Contact">
                            <h5>Contact Info</h5>
                            <p>
                                Address : Office No.1, Tuljai Classic, First Floor, Akurdi Chowk, Near Shitala Devi Temple, Akurdi - Pune- 35.
                                <br />
                                <b> Mobile : +91 9762457230</b>
                                <br />
                                <b> Phone : +91 9730010404</b>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="important Link">
                            <h5>Important Links</h5>
                            <a>View Project</a><br />  
                            <a>Contact Us</a><br />  
                            <a>Testimonials</a><br />
                            <a>Properties</a><br />
                            <a>Support</a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="Dev-Details">
                            <h5>For Queries Contact</h5>
                            <a href="https://www.linkedin.com/in/sandeshbhale" target="_blank">
                                <i class="fab fa-linkedin text-secondary"></i> LinkedIn
                            </a>
                            <br />
                            <a href="https://www.instagram.com/sandesh_bhale?igsh=MTRjeDluNWllYnh4bQ==" target="_blank">
                                <i class="fab fa-instagram text-danger"></i> Instagram
                            </a>
                            <br />
                            <a href="mailto:sandesh.bhale.work@mail.com">
                                <i class="fas fa-envelope text-danger"></i> Email
                            </a>
                            <br />
                            <a href="https://wa.me/7020285895" target="_blank">
                                <i class="fab fa-whatsapp"></i> WhatsApp
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <br />
            <div class="container">
                <p>CopyRight &copy; 2024 All rights reserved to <a href="https://revolutioninfosystems.com/About-US/About-Company#">Revolution Infosystems</a></p>
            </div>

            <br />

        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>
</html>